@import url('https://fonts.googleapis.com/css?family=Dosis');
@font-face {
    font-family: Summer Love;
    src: url(fonts/summerlove.otf);
}

/*html, body {*/
    /*margin: auto 0;*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*padding:0;box-sizing:border-box;*/
/*}*/

.home {
    overflow: hidden;
}

h1 {
    font-family: "Summer Love";
    font-size: 50px;
}

.home h1 {
    left: 5%;
    top: 8%;
    position: absolute;
    color: white;
    text-shadow: 6px 6px #d37b60;
    letter-spacing: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navbar li {
    float: left;
    padding: 1.5vw;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: "Dosis";
    padding: 1%;
    letter-spacing: 4px;
    font-size: 12px;
}

.navbar {
    width: 100vw;
    height: 60px;
    background-color: #5b7c81;
    margin: 0;
    padding: 0;
}

.navbar-fixed-top {
    position: fixed;
    z-index: 10;
}

.navbar .navbar-brand {
    color: white;
    font-family: "Summer Love";
    font-weight: bold;
    font-style: italic;
    padding-left: 1.5%;
    font-size: 20px;
}

.fa {
    position: relative;
    border-radius: 50%;
    color: white;
    background: none;
    font-size: 25px;
    padding: 20px;
    align-self: flex-start;
    left: 85%;
    top: 5%;
    z-index: 100;
}

.fa:hover {
    color: #d37b60;
    text-decoration: none;
}

.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
}

.home-container ul li {
    list-style: none;
    padding-bottom: 60px;
    font-family: "Dosis";
    letter-spacing: 10px;
    font-size: 40px;
    text-decoration: none;
}

.home-container ul {
    padding-left: 10%;
    position: absolute;
    transform: translateY(-35%);
    top: 50%;
}

.home-container ul li a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
}

.home-container p {
    flex-direction: row-reverse;
    width: 35vw;
    align-self: flex-end;
    text-align: right;
    padding-right: 2%;
    font-size: 30px;
    color: white;
    font-family: "Bebas Neue";
}

.video-container {
    width: 100%;
    height: 100%;
}

.video-container iframe {
    transform: scale(1.31);
    position: absolute;
    display: block;
    pointer-events: none;
    opacity: 0.8;
    z-index: -10;
}

#video-work {
    top: -50px;
}

#video-personal iframe {
    transform: scale(1.5);
}

.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #d37b60;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#photography {
    overflow: hidden;
}

@keyframes color-animation {
    0% {
       background: #CAA895;
    }
    25% {
       background: #6A5050;
    }
    50% {
       background: #975944;
    }
    75% {
       background: #36495b;
    }
    100% {
       background: #233139;
    }
 }

#background {
    /*background-color: black;*/
    height: 100vh;
    min-width: 5120px;
    animation: color-animation 15s infinite linear alternate;
}

.gallery {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: fit-content;
    margin-top: 4%;
}

.gallery .img-container img {
    max-width: 100%;
    display: block;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.gallery .img-container:hover img{
     -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.gallery .img-container {
    height: fit-content;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30vw;
    overflow: hidden;
}


.gallery #last-image {
    margin-right: 30vw;
}

.parallax-wrap {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
    background-color: black;
}

.parallax-wrap section {
    position: relative;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20%;
    font-size: 48px;
    color: white;
}

.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    background-size: 100%;
    z-index: -1;
}

#work-page .p-one::after {
    background-image: url("https://scontent-lga3-1.cdninstagram.com/vp/8af6b660caf6adb3aa55dccf5c23047f/5CA3172F/t51.2885-15/e35/35327491_1254859244651113_4551394766469726208_n.jpg");
    background-position: 25% 35%;
}

#vlog-page .p-one::after {
    background-image: url("https://scontent-lga3-1.cdninstagram.com/vp/41cc435588018538cee53d7e87efd4ae/5C96DEC5/t51.2885-15/e35/38627281_1631514683637001_6123820853751709696_n.jpg");
    background-position: 25% 20%;
}

.parallax {
    display: flex;
    flex-direction: column;
}

.parallax p {
    font-family: "Dosis";
    font-size: 20px;
}

.video {
    height: 100%;
    width: 100%;
    transform: translateY(-50vh);
}

.v1 {
    transform: translateY(-50vh);
}

.video iframe {
    position: relative;
    z-index: 10;
}

.footer {
    transform: translateY(-40vh);
    position: absolute;
    background-size: 100%;
    z-index: -100;
    width: 100vw;
    height: 40vh;
    color: white;
}

#work-page .footer {
    background-image: url("https://scontent-lga3-1.cdninstagram.com/vp/4c012006af0c4338e1df61e548c09848/5C8CF3F9/t51.2885-15/e35/41281711_2221824701476011_3050913813374545508_n.jpg");
    background-position: 25% 45%;
}

#vlog-page .footer {
    background-image: url("https://scontent-lga3-1.cdninstagram.com/vp/916224e4c2a63053be5d844fbb90b4da/5C9EACB7/t51.2885-15/e35/42173855_732828067076858_5603680715693460095_n.jpg");
    background-position: 25% 45%;
}

.footer {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 22px;
    text-shadow: 1px 1px black;
    letter-spacing: 5px;
    text-align: center;
    transform: translateY(-40vh);
}


/*#pin-container {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*!*overflow: hidden;*!*/
/*}*/

.panel {
    width: 100%;
    height: 100%;
    /*position: fixed;*/
}

.panel .p3 {
    margin-bottom: 400px;
}


